<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="United Travel Services Package Source" value="http://nuget.ual.com/packages/nuget" />
    <add key="United Foundations Nuget Server Release" value="http://vopcgptbsd01.global.ual.com/foundationsnugetserverrelease/nuget" />
    <add key="NuGet Official Package Source" value="https://nuget.org/api/v2/" />
  </packageSources>
</configuration>