<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuild.Microsoft.VisualStudio.Web.targets" version="12.0.4" />
  <package id="psake" version="4.3.2" />
  <package id="United.BuildSystem" version="3.0.311" />
  <package id="XmlPreprocess" version="2.0.18" />
  <package id="xunit.runner.console" version="2.0.0" />
</packages>